// css footer
footer {
    // width: 100%;
    // height: 940px;
    background: $dark-blue;
    // margin-top: -350px;
    // padding-top: 350px;
    padding: 180px 0 200px;
    position: relative;
    .container {
        height: 100%;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;
        .logoft {
            width: 100%;
            padding-bottom: 60px;

            display: flex;
            justify-content: center;
            align-items: center;

            &::after,
            &::before {
                content: "";
                width: 100%;
                height: 1px;
                background: #665d49;
                display: block;
            }
            img {
                padding: 0 25px;
            }
        }
        .descriptionft {
            color: white;
            line-height: 2;
        }
    }
    .backtotop {
        background: #132539;
        position: absolute;
        bottom: -40px;
        right: 9px;
        writing-mode: vertical-rl;

        span {
            font-size: 12px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            &::before {
                content: "";
                width: 1px;
                height: 130px;
                background: #665d49;
                display: block;
                margin-bottom: 10px;
            }
        }
    }
}
